body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
  }
  
  buttons {
    border: 1px;
    border-radius: 20px;
  }
  
  #main {
    display: block;
    width: 60%;
    min-width: 500px;
    margin: auto;
    color: white;
    background: black;
    border-radius: 5%;
    padding: 1%;
  }
  
  #img-div {
    display: block;
  }
  
  #image {
    height: auto;
    max-width:100%;
  }  